body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.container{
    perspective: 300px;
}

img{
    width: 300px;    
}

img:hover{
    transition: 3s;
    transform: rotateX(360deg) rotateZ(90deg);
}